body{
    font-family: 'Encode Sans SC', sans-serif;
    background-color: Silver;
}
#main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  width: 100%;
}
.input{
    margin: 0 30px;
}
.results{
    display: flex;
    justify-content: center;
    flex-direction: column;
   align-content: center;
    overflow: auto;
}
@media (max-width: 460px){
  #inputDiv{
    flex-direction: column;
  }
  .results{
    width: 100%;
  }
}
