
body {
    background-color: #f1f1f1;
}
.title {
    padding: 13px;
    margin-left: 5px
}
.line {
    border-left: 2px solid #ccc;
    padding-left: 30px;
}
h3:after{
    content: '';
    position: absolute;
    width: 88%;
    border-top: 2px solid #4e4e4e;
    margin-top: .6em;
    margin-left: .4em;
    margin-right: 5em;
}
.actionsBar{
    background-color: ghostwhite;
    padding: 10px 20px 20px 30px;
    margin-right: 20px;
    margin-left: 20px;
}
button{
    background-color: dodgerblue;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: white;
    margin-right: 10px;
    font-weight: bold;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
button:hover {
    opacity: 0.8;
}
.container {
    padding: 16px;
}
#number  {
    width: 458px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: content-box;
    border-radius: 5px;
}
input[type=date]
{
    width: auto;
    position: relative;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
#comment{
    width: 100%;
    height: 70px;
    padding: 30px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
form {
    border: 3px solid #f1f1f1;
}
.container {
    padding: 15px 40px 15px 40px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%;
    height: auto;
}
.close {
    position: relative;
    left: 97%;

    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.createButton {
    background-color: dodgerblue;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}
.invoiceBar{
    background-color: ghostwhite;
    padding: 10px 20px 20px 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
}
table {
    width: 100%;
    background: white;
    color: black;
    text-align: left;
    border-spacing: 0;
    border-bottom-color: black;
    table-layout: fixed;
}

th {
    padding: 20px;
}
td{
    padding: 20px;
}
tr{
    padding: 20px;
}
.titleTableLine{
    background-color: #cccccc;
}
#invoiceContainer{
    float: right;
}

